* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #000;
  background-image: url("img/fundo_urso.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.top-bar {
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, #002b80, #0052cc, #007bff);
  position: absolute;
  top: 0;
  left: 0;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 400px;
  text-align: center;
  color: #fff;
  margin-top: 80px;
}

.form-box h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

/* Campo de entrada */
.input-field {
  color: #fff;
  margin-bottom: 25px;
  text-align: left;
}

/* Label em branco e visível */
.input-field label {
  display: block;
  color: #fff;
  font-size: 13px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.input-field input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  outline: none;
  transition: 0.3s;
}

.input-field input:focus {
  border-bottom: 2px solid #00bfff;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #ccc;
  margin-bottom: 30px;
}

.remember-forgot a {
  color: #00bfff;
  text-decoration: none;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #0052cc, #00bfff);
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.03);
}

.signup-text {
  margin-top: 25px;
  color: #aaa;
  font-size: 14px;
}

.create-account-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  background: transparent;
  border: 2px solid #00bfff;
  color: #00bfff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.create-account-btn:hover {
  background: #00bfff;
  color: #000;
}